.App {
  text-align: center;
}

.Sidebar {
  width: 20vw;
  margin: 20px;
  padding: 15px;
  background-color: #eee;
}

.Sidebar:hover {
  width: 20vw;
  margin: 20px;
  padding: 15px;
  background-color: #fff;
}

.TierPlot {
  width: 90vw;
}

.TypematchMatrix {
  width: 80vw;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
